.footer-cols {
  border-top: 5px solid #d9d9d9;
  padding-bottom: 66px;
}
.footer-cols .row {
  padding-top: 20px;
  overflow: hidden;
}
.footer-cols .faux-col {
  border-left: 1px solid #bfedfe;
  padding: 0 10px 1000px 20px;
  margin: 0 0 -1000px -14px;
}
.footer-cols p {
  margin: 0 0 16px;
  line-height: 16px;
}
.footer-cols h1 {
  margin: 0;
  font-size: 16px;
  color: #535353;
}
.footer-cols .col-1 {
  margin-top: -9px;
  padding-top: 41px;
}
.footer-cols .col-1 p {
  padding: 0 73px 0 4px;
}
.footer-cols .col-1:before {
  content: ' ';
  display: block;
  height: 25px;
  width: 71px;
  background: transparent url("/img/sprite.png") 4px -60px no-repeat;
  margin: -41px 0 16px 0;
}
.footer-cols .col-4 .faux-col {
  border-left-color: #f5f5f5;
  padding-left: 40px;
}
.footer-cols .col-3 h1,
.footer-cols .col-3 a {
  padding: 0 0 10px 0;
  display: block;
}
.footer-cols .col-2 p {
  margin: 0 0 4px;
}
.footer-cols .tel {
  display: block;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  text-decoration: none;
}
.footer-cols .tel strong {
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.footer-cols .tel:hover {
  text-decoration: none;
}
