{{#products}}
<p class="total clearfix"><span class="total-text">Итоговая страховая сумма </span><span class="total-summ all">{{totalcost}}<span class="currency-ico">р.</span></span></p>
<p class="total clearfix"><span class="total-text">Стоимость полиса <small>стоимость полиса в  год </small></span><span class="total-summ price">{{price.value}}<span class="currency-ico">р.</span></span></p>
<div class="product-wrap">
	<h2 class="product-current-title">{{company.name}} "{{name}}"</h2>
	<nav class="product-current-nav clearfix">
		<a href="#" title="Добавить для сравнения" data-link="widgets/compare/add">Добавить <br>для сравнения<span href="#" class="popover-icon" data-link="widgets/popup" data-toggle="popover"  data-placement="right" data-content="Внутренняя отделка и инженерное оборудование это круто. очень круто. Внутренняя отделка и инженерное оборудование это круто. очень круто. Внутренняя отделка и инженерное оборудование это круто. очень круто." title="" data-original-title="Внутренняя отделка и инженерное оборудование">?</span></a>
        <a class="credit" href="./step2.html?product={{id}}" title=">Перейти к оформлению и покупке">Перейти к оформлению <br>и покупке<span href="#" class="popover-icon" data-link="widgets/popup" data-toggle="popover" data-placement="right" data-content="Внутренняя отделка и инженерное оборудование это круто. очень круто. Внутренняя отделка и инженерное оборудование это круто. очень круто. Внутренняя отделка и инженерное оборудование это круто. очень круто." title="" data-original-title="Внутренняя отделка и инженерное оборудование">?</span></a>
    </nav>
</div>
{{/products}}